.task_column_icon {
  width: 30px;
  margin-right: 5px;
}
.task_column_heading {
  display: flex;
  align-items: center;;
}

.no_tasks_message {
  color: #888;
  font-size: 2rem;
  text-align: center;
  margin: 20px 0;
  font-style: italic;
}